body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.container {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  width: 70%;
  margin-top: 1rem;
  text-align: center;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
}
.get {
  margin-top: 10px;
  border: none;
  padding: 8px 20px;
  background-color: greenyellow;
  cursor: pointer;
}
.info {
  margin: 1.5rem 0;
}
input {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 15px 20px;
  outline: none;
  border: none;
  background-color: aliceblue;
  text-align: center;
}
h1,
h2,
h3 {
  text-align: center;
}
input::placeholder {
  text-align: center;
  font-size: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
a {
  background-color: greenyellow;
  padding: 10px;
  text-decoration: none;
  color: black;
}
/* Media Queries */

@media (max-width: 640px) {
  .container {
    width: 100%;
    padding: 10px;
    align-items: center;
    box-shadow: none;
  }

  input {
    width: 100%;
    padding: 12px 10px;
  }

  .get {
    width: 50%;
    padding: 12px 10px;
  }

  h1 {
    font-size: 1.5rem;
  }

  .info {
    font-size: 1rem;
    margin: 0.7rem 0;
    padding: 0 10px;
  }
  .footer {
    font-size: 1rem;
  }
}
